@tailwind base;
@tailwind components;
@tailwind utilities;

.content-bg {
    backdrop-filter: blur(30px);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #047857;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #065f46;
}